body{
    padding-bottom: 500px;
}
h3 {
    color:aqua;
}


.paragrafo{
    background-color: black;
    color:aqua;
    padding: 50px;
}

h2{
    border-bottom: 2px solid red;
}
.titulo{
    border-bottom: 2px solid blue;
}
#titulo{
    border-bottom: 2px solid purple;
}

.color-name{
    color:rgb(118, 8, 30);
}

.hex{
    color:#55a398;
}

.hex2{
    color:#17a645;
}

.simple{
    color: #AA55FF;
}
.hex-simple2{
    color: #555;
}
.rgba{
    color: rgba(100, 50, 74, 0.2);
}

.bg{
    background-color: #000;
    color: yellow;
}

.bg-2{
    background-color: #456;
    color: #AA55FF;
}

.bg-opacidade{
    background-color: green;
    opacity: 0.2;
}

.bg-image{
    color: aliceblue;
    background-image: url("../img/2023-07-10 (1).png");
}

.naocentralizado,
.centralizado{
    height: 400px;
    width: 400px;
    background-image: url("../img/formula.png");
}

.centralizado{
    background-position: center;
    background-size: cover;
}

.height-width{

    height: 200px;
    width: 100px;
    background-color: #17a645;
}

.height-width2{
    height: 300px;
    background-color: #000;
}

.sempadding,
.compadding{
    background-color: #551010;
    color: #55a398;
}

.compadding{
    padding: 20px;

}
.paddingind{
    background-color: #AA55FF;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
}

.shorthand-padding{
    background-color: #17a645;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2{
    background-color: #551010;
    padding: 10px 20px;
}

.without-border-box{
    background-color: #456;
    color: yellowgreen;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #666;
    color: tomato;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;

}

.border{
    border: 5px solid red;
    padding: 10px;
}

.border-2{
    border: 5px dotted #897;
    padding: 20px;
}

.rounded-p{
    border: 5px solid #000;
    background-color: #17a645;
    color: #551010;
    padding: 15px;
    border-radius: 13px;

}

.rounded-p-2{
    border: 5px solid #000;
    background-color: #17a645;
    color: #551010;
    padding: 15px;
    border-radius: 30px;
}

.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 400px;

}

.texto-alinhado{
    text-align: right;
}

.centro-card{
    text-align: center;
    width: 300px;
    border: 1px solid #17a645;
}

.underline{
    text-decoration: underline;
}

.line-trough{
    text-decoration: line-through;
}

.remove-underline{
    text-decoration: none;
    color: #551010;
}

.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

.spacing{
    letter-spacing: 5px;
}

.serif{
    font-family: Georgia;
}
.sans-serif{
    font-family: Helvetica;
}

.monospace{
    font-style: "Courier New";
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

.itálico{
    font-style: italic;
}

.obliquo{
    font-style: oblique;
}

.thin, .bold, .bolder{
    font-family: Helvetica;
}

.thin{
    font-weight: 100;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 900;
}

.small{
    font-size: 6px;
}

.big{
    font-size: 78px;
}

.inline-box{
    width: 50px;
    height: 50px;
    background-color: #551010;
    margin: 10px;
    display:inline-block

}

.block{
    background-color: #456;
    display: block;

}

.invisible{
    display: none;
}

.static{
    position: static;
    background-color: #391;
    color: #845;
    width: 100px;
    height: 100px;

}

.relative{
    position: relative;
    background-color: #541;
    color: #845;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
}

.absolute{
    position: absolute;
    background-color: #901;
    color: #845;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
    

}

.relative-container{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1, .absolute-2{
    width: 50px;
    height: 50px;
    background-color: #456;
    position: absolute;
}

.absolute-1{
    top: 10px;
    right: 10px; 
}

.absolute-2{
    left: 10px;
    bottom: 10px;
}

.fixed{
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    background-color: #851;
    position: fixed;
    top: 50px;
    right: 50px;
}

.sticky{
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    background-color: #987;
    position: sticky;
    top: 10px;

}

.absolute-3, .absolute-4, .absolute-5{
    width: 50px;
    height: 50px;
    background-color: #123;
    position: sticky;
    
}

.absolute-3{
    top: 0;
    left: 0;
    z-index: 3;
}

.absolute-4{
    top: 10px;
    left: 10px;
    background-color: #391;
    z-index: 20;
}

.absolute-5{
    top: 40px;
    left: 40px;
    background-color: #678;
    z-index: 1;
}